# In case you build natively. For Multipass VM's, use a shared '~/target' instead.
/target/

/Cargo.lock
/tmp/
/.OUT_DIR

# Generated
/examples/pins_gen.in

# C sources (placed by you)
/VL53L5CX_ULD_API/
